{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop md">
  <div class="container" style="height: 10px;">
    {% if 'search' in request.path %}
    <h2 class="title-page">Search Result</h2>
    {% else %}
    <h5 style="text-align: center; color: white;">Discover a diverse world of artist on this platform, showcasing a wide array of art forms through immersive galleries.</h5>
    {% endif %}
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title"><i class="fa fa-bars"></i> Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  <li><a href="{% url 'store' %}">All Arts </a></li>
                  {% for category in links %}
                  <li>
                    <a href="{{ category.get_url }}"
                      >{{ category.category_name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-6">
        <header class="border-bottom mb-4 pb-3">
          <div style="display: flex; justify-content: space-between;">
            <div class="form-inline">
              <span class="mr-md-auto" style="color: white;"
                ><b>{{ p_count }}</b> Arts are available on this type.
              </span>
            </div>
            <div class="filter-content collapse show" id="collapse_4" style="margin-bottom: 0;">
              <div class="card-body" style="display: flex; justify-content: space-between;">
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Price
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item"  href="{% url 'sortby' id=1 %}">Highest</a>
                    <a class="dropdown-item"  href="{% url 'sortby' id=2 %}">Lowest</a>
                  </div>
                </div>
                <div class="btn-group" role="group" style="margin-left: 10px;">
                  <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Popularity
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item"  href="{% url 'sortby' id=3 %}">Highest</a>
                    <a class="dropdown-item"  href="{% url 'sortby' id=4 %}">Lowest</a>
                  </div>
                </div>
              </div>
              <!-- card-body.// -->
            </div>
          </div>
        </header>
        <!-- sect-heading -->

        <div class="row">
          {% if products %} {% for product in products %}
          <div class="col-md-12">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <a href="{{ product.get_url }}"
                  ><img style="width: 100%;" src="{{ product.images.url }}"
                /></a>
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div style="text-align: center; font-weight: bold; margin-bottom: 10px;">
                  <a href="{{ product.get_url }}" class="title"
                    >{{ product.product_name }}</a
                  >
                  <!-- price-wrap.// -->
                </div>
                <a
                  href="{{ product.get_url }}"
                  class="btn btn-block btn-primary"
                  >View Details
                </a>
              </figcaption>
            </figure>
          </div>
          <!-- col.// -->
          {% endfor %} {% else %}
          <div>
            <h2>No result found. Please try again.</h2>
          </div>
          {% endif %}
        </div>
        <!-- row end.// -->

        <nav class="mt-4" aria-label="Page navigation sample">
          {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{products.previous_page_number}}"
                >Previous</a
              >
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Previous</a>
            </li>
            {% endif %} 
            {% for i in products.paginator.page_range %} 
            {% if products.number == i %}
            <li class="page-item active">
              <a class="page-link" href="#">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %} {% endfor %} {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{products.next_page_number}}"
                >Next</a
              >
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </main>
      <!-- col.// -->
      <aside class="col-md-3">
        <div class="card">
          <!-- filter-group  .// -->
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_4"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Filter By Color</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
              <div class="card-body" style="display: flex; justify-content: space-between;">
                <div>
                  <a href="{% url 'filter-color' id=1 %}" style="float: right;" class="btn btn-danger btn-sm">Red</a>                  
                </div>
                <div>
                  <a href="{% url 'filter-color' id=2 %}" style="float: right;" class="btn btn-primary btn-sm">Blue</a>                  
                </div>
                <div>
                  <a href="{% url 'filter-color' id=3 %}" style="float: right;" class="btn btn-success btn-sm">Green</a>                  
                </div>
                <div>
                  <a href="{% url 'filter-color' id=4 %}" style="float: right;" class="btn btn-dark btn-sm">Black</a>                  
                </div>
                <div>
                  <a href="{% url 'filter-color' id=5 %}" style="float: right;" class="btn btn-light btn-sm">White</a>                  
                </div>
              </div>
              <!-- card-body.// -->
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_4"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Filter By Type</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
              <div class="card-body" style="display: flex; justify-content: center; flex-wrap: wrap;">
                <div>
                  <a href="{% url 'filter-size' id=1 %}" style="float: right;" class="btn btn-outline-secondary">Photo Frame</a>                  
                </div>
                <div>
                  <a href="{% url 'filter-size' id=2 %}" style="float: right; margin-left: 5px;" class="btn btn-outline-secondary">Wallpaper</a>                  
                </div>
                <div>
                  <a href="{% url 'filter-size' id=3 %}" style="float: right; margin-top: 5px;" class="btn btn-outline-secondary">Banner Image</a>                  
                </div>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
